{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="container"> <!--Bootstrap container for responsive styling -->
    <h2>Login</h2>

    <hr>
    <form method="post"> <!--Form with POST method to submit login data -->
        {% csrf_token %} <!--CSRF token for security [prevent cross-site
        request forgery attacks]
         -->

        <div class="form-group"> <!--Form group for username field -->
            {{ form.username.label_tag }} <!-- Displays the label -->
            {{ form.username|add_class:"form-control" }}<!-- Displays the
            username field and adds the 'form-control' Bootstrap class to
            style the input -->
        </div>

        <div class="form-group">
            {{ form.password.label_tag }} {{ form.password|add_class:"form-control" }}
        </div>

        <input type="submit" value="Login" class="btn btn-primary mt-2">
    </form> <!--END OF FORM -->
    <hr>

<div class="mt-3">
    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> <-- Back to
        dashboard</a><br>
    <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark mt-2">Sign in With GitHub</a><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger mt-2">Sign in With Google</a><br>
    <a href="{% url 'password_reset' %}" class="btn btn-warning mt-2">Reset Password</a><br>
    <a href="{% url 'register' %}" class="btn btn-primary mt-2">Register</a>
</div>

</div> <!--END OF CONTAINER -->

{% endblock %}
