<!-- users/templates/registration/password_change_form.html -->
{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h2 class="mt-4">Change Password</h2>

        <form method="post" class="mt-3">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Change</button>
        </form>
        <hr>

        <div class="mt-3">
            <a href="{% url 'dashboard' %}" class="btn btn-secondary"><-- Back
                    to Dashboard</a>
        </div>
    </div>
{% endblock %}
